<button is="party-button">
  <span class="visually-hidden-party">Start the partyasd!</span>
</button>

{% schema %}
{
  "name": "Party",
  "target": "body",
  "stylesheet": "party-button.css",
  "javascript": "party-button.js",
  "settings": []
}
{% endschema %}